<div class="col-xs-12 margin-between-divs">
    <div class="col-xs-12 margin-between-elements">
        {% include 'layout/tools/turnos/filtro.html' %}
    </div>

    {% if tecnicos %}
        {% include 'layout/tools/turnos/listado.html' with tecnicos=tecnicos turnos=turnos %}
    {% endif %}

    {% if saved %}
        <div class="col-xs-12 margin-between-divs">
            <div class="alert alert-success">
                Se han guardado los turnos
            </div>
        </div>
    {% endif %}
</div>