{% include 'index.html' %}

<div class="container-main container-top">
    <div class="col-xs-12">
        <form action="{% url 'formulario_actuaciones' %}" method="post">
            {% csrf_token %}

            <div class="col-xs-10 text-center">
                {% if form.errors.nombre %}
                    <p class="alert alert-danger">{{ form.errors.nombre }}</p>
                {% endif %}
                <div class="form-group">
                    <div class="col-xs-4 text-right">
                    <label>{{ form.nombre.label }}</label>
                    </div>
                    <div class="col-xs-8">
                    {{ form.nombre }}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 margin-between-divs">

                <fieldset>
                    <legend>Dirección:</legend>

                    <div class="col-xs-12 margin-between-elements text-center">
                        <div class="col-xs-6 text-right">
                            Escoja una de las siguientes opciones:
                        </div>

                        <div class="col-xs-6">
                            <div class="radio-inline">
                                <input id="direccion" name="dir" type="radio" checked="checked" value="direccion" class="radDireccion">
                                <label for="direccion">Dirección</label>
                            </div>
                            <div class="radio-inline">
                                <input id="coordenadas" name="dir" type="radio" value="coordenadas" class="radDireccion">
                                <label for="coordenadas">Coordenadas</label>
                            </div>
                            <div class="radio-inline">
                                <input id="emplazamiento" name="dir" type="radio" value="emplazamiento" class="radDireccion">
                                <label for="emplazamiento">Emplazamiento</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 margin-between-divs direccion">
                        <div class="col-xs-12 margin-between-elements">
                            <div class="col-xs-4">
                                {% if form.errors.tipo_via %}
                                <ul class="list-group">
                                {% for error in form.errors.tipo_via %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                                <div class="form-group">
                                    <div class="col-xs-6 text-right">
                                    <label>{{ form.tipo_via.label }}</label>
                                    </div>
                                    <div class="col-xs-6">
                                    {{ form.tipo_via }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                {% if form.errors.direccion %}
                                <ul class="list-group">
                                {% for error in form.errors.direccion %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                                <div class="form-group">
                                    <div class="col-xs-12">
                                    {{ form.direccion }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 margin-between-elements">
                            <div class="col-xs-4">
                                {% if form.errors.codigo_postal %}
                                <ul class="list-group">
                                {% for error in form.errors.codigo_postal %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                                <div class="form-group">
                                    <div class="col-xs-6 text-right">
                                    <label>{{ form.codigo_postal.label }}</label>
                                    </div>
                                    <div class="col-xs-6">
                                    {{ form.codigo_postal }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                {% if form.errors.provincia %}
                                <ul class="list-group">
                                {% for error in form.errors.provincia %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                                <div class="form-group">
                                    <div class="col-xs-4 text-right">
                                    <label>{{ form.provincia.label }}</label>
                                    </div>
                                    <div class="col-xs-8">
                                    {{ form.provincia }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 margin-between-elements coordenadas hidden">
                        <div class="col-xs-6 text-center">
                            {% if form.errors.latitud %}
                                <ul class="list-group">
                                {% for error in form.errors.latitud %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                <label>{{ form.latitud.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form.latitud }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 text-center">
                            {% if form.errors.longitud %}
                                <ul class="list-group">
                                {% for error in form.errors.longitud %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                <label>{{ form.longitud.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form.longitud }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 margin-between-divs emplazamiento hidden">
                        <div class="col-xs-12 text-center">
                            {% if form.errors.emplazamiento %}
                                <ul class="list-group">
                                {% for error in form.errors.emplazamiento %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                <label>{{ form.emplazamiento.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form.emplazamiento }}
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col-xs-12 margin-between-divs">
                <fieldset>
                    <legend>Características de la actuación</legend>

                    <div class="col-xs-12 margin-between-elements">
                        <div class="col-xs-6">
                            {% if form.errors.estado %}
                                <ul class="list-group">
                                {% for error in form.errors.estado %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-2">
                                <label>{{ form.estado.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form.estado }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            {% if form.errors.cliente %}
                                <ul class="list-group">
                                {% for error in form.errors.cliente %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-2">
                                <label>{{ form.cliente.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form.cliente }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 margin-between-elements">
                        <div class="col-xs-4">
                           {% if form.errors.prioridad %}
                                <ul class="list-group">
                                {% for error in form.errors.prioridad %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                <label>{{ form.prioridad.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form.prioridad }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            {% if form.errors.severidad %}
                                <ul class="list-group">
                                {% for error in form.errors.severidad %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                <label>{{ form.severidad.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form.severidad }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            {% if form.errors.alerta %}
                                <ul class="list-group">
                                {% for error in form.errors.alerta %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                <label>{{ form.alerta.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form.alerta }}
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col-xs-12 text-right margin-between-divs">
                <a href="{% url 'listado_actuaciones' %}" class="btn btn-warning">Volver al listado</a>
                <button type="submit" class="btn btn-default">Guardar</button>
            </div>

        </form>
    </div>
</div>

{% load staticfiles %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/actuaciones/actuacion.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/actuaciones/actuaciones.js' %}"></script>
{% endblock %}
