<div class="container-main container-top">
    <div class="col-xs-12">
        {% if id %}
        <form action="{% url urlaction id %}" method="post">
        {% else %}
        <form action="{% url urlaction %}" method="post">
        {% endif %}
            {% csrf_token %}

            <div class="col-xs-12 margin-between-elements">
                {% if form_actuacion.errors.nombre %}
                    <ul class="list-group">
                    {% for error in form_actuacion.errors.nombre %}
                        <li class="list-group-item list-group-item-danger">{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <div class="form-group">
                    <div class="col-xs-4 text-right">
                    <label>{{ form_actuacion.nombre.label }}</label>
                    </div>
                    <div class="col-xs-6">
                    {{ form_actuacion.nombre }}
                    </div>
                </div>

                <div class="col-xs-12 margin-between-elements">
                    <div class="col-xs-6">
                        {% if form_detalle_actuacion.errors.detalle %}
                            <ul class="list-group">
                            {% for error in form_detalle_actuacion.errors.detalle %}
                                <li class="list-group-item list-group-item-danger">{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-xs-4 text-right">
                                <label>{{ form_detalle_actuacion.detalle.label }}</label>
                            </div>
                            <div class="col-xs-8">
                                {{ form_detalle_actuacion.detalle }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-12">
                            {% if form_detalle_actuacion.errors.fecha_inicio %}
                                <ul class="list-group">
                                {% for error in form_detalle_actuacion.errors.fecha_inicio %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label>{{ form_detalle_actuacion.fecha_inicio.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                    {{ form_detalle_actuacion.fecha_inicio }}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            {% if form_detalle_actuacion.errors.fecha_fin %}
                                <ul class="list-group">
                                {% for error in form_detalle_actuacion.errors.fecha_fin %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label>{{ form_detalle_actuacion.fecha_fin.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                    {{ form_detalle_actuacion.fecha_fin }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 margin-between-elements">

                <fieldset>
                    <legend>Dirección:</legend>

                    <div class="col-xs-12 margin-between-elements text-center">
                        <div class="col-xs-6 text-right">
                            Escoja una de las siguientes opciones:
                        </div>

                        <div class="col-xs-6">
                            <div class="radio-inline">
                                <input id="direccion" name="dir" type="radio" checked="checked" value="direccion" class="radDireccion">
                                <label for="direccion">Dirección</label>
                            </div>
                            <div class="radio-inline">
                                <input id="coordenadas" name="dir" type="radio" value="coordenadas" class="radDireccion">
                                <label for="coordenadas">Coordenadas</label>
                            </div>
                            <div class="radio-inline">
                                <input id="emplazamiento" name="dir" type="radio" value="emplazamiento" class="radDireccion">
                                <label for="emplazamiento">Emplazamiento</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 margin-between-divs direccion">
                        <div class="col-xs-12 margin-between-elements">
                            <div class="col-xs-4">
                                {% if form_actuacion.errors.tipo_via %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.tipo_via %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                                <div class="form-group">
                                    <div class="col-xs-6 text-right">
                                    <label>{{ form_actuacion.tipo_via.label }}</label>
                                    </div>
                                    <div class="col-xs-6">
                                    {{ form_actuacion.tipo_via }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                {% if form_actuacion.errors.direccion %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.direccion %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                                <div class="form-group">
                                    <div class="col-xs-12">
                                    {{ form_actuacion.direccion }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 margin-between-elements">
                            <div class="col-xs-4">
                                {% if form_actuacion.errors.codigo_postal %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.codigo_postal %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                                <div class="form-group">
                                    <div class="col-xs-6 text-right">
                                    <label>{{ form_actuacion.codigo_postal.label }}</label>
                                    </div>
                                    <div class="col-xs-6">
                                    {{ form_actuacion.codigo_postal }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8">
                                {% if form_actuacion.errors.provincia %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.provincia %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                                <div class="form-group">
                                    <div class="col-xs-4 text-right">
                                    <label>{{ form_actuacion.provincia.label }}</label>
                                    </div>
                                    <div class="col-xs-8">
                                    {{ form_actuacion.provincia }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 margin-between-elements coordenadas hidden">
                        <div class="col-xs-6 text-center">
                            {% if form_actuacion.errors.latitud %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.latitud %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                <label>{{ form_actuacion.latitud.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form_actuacion.latitud }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 text-center">
                            {% if form_actuacion.errors.longitud %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.longitud %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                <label>{{ form_actuacion.longitud.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form_actuacion.longitud }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 margin-between-divs emplazamiento hidden">
                        <div class="col-xs-12 text-center">
                            {% if form_actuacion.errors.emplazamiento %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.emplazamiento %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4 text-right">
                                <label>{{ form_actuacion.emplazamiento.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form_actuacion.emplazamiento }}
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col-xs-12 margin-between-elements">
                <fieldset>
                    <legend>Características de la actuación</legend>

                    <div class="col-xs-12 margin-between-elements">
                        <div class="col-xs-6">
                            {% if form_actuacion.errors.estado %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.estado %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-2">
                                <label>{{ form_actuacion.estado.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form_actuacion.estado }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            {% if form_actuacion.errors.cliente %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.cliente %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-2">
                                <label>{{ form_actuacion.cliente.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form_actuacion.cliente }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 margin-between-elements">
                        <div class="col-xs-4">
                           {% if form_actuacion.errors.prioridad %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.prioridad %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                <label>{{ form_actuacion.prioridad.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form_actuacion.prioridad }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            {% if form_actuacion.errors.severidad %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.severidad %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                <label>{{ form_actuacion.severidad.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form_actuacion.severidad }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            {% if form_actuacion.errors.alerta %}
                                <ul class="list-group">
                                {% for error in form_actuacion.errors.alerta %}
                                    <li class="list-group-item list-group-item-danger">{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-xs-4">
                                <label>{{ form_actuacion.alerta.label }}</label>
                                </div>
                                <div class="col-xs-8">
                                {{ form_actuacion.alerta }}
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
            </div>

            <div class="col-xs-12 text-right margin-between-elements">
                <a href="{% url 'listado_actuaciones' %}" class="btn btn-warning">Volver al listado</a>
                <button type="submit" class="btn btn-default">Guardar</button>
            </div>

        </form>
    </div>
</div>