{% include 'index.html' %}

{% load staticfiles %}

<div class="container-main container-top">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Asignación</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Técnico asignado</th>
                    <th>Fecha y hora</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            {% if listado_actuaciones %}
                {% for actuacion in listado_actuaciones %}
                    <tr>
                        {% if actuacion.estado_id == 1 %}
                            <td>
                                <div class="ui-widget-content draggable" id="asig_{{ actuacion.id }}">
                                    <img class="img-assign" src="{% static 'img/hand.jpg' %}" width="30px" height="30px">
                                </div>
                            </td>
                        {% else %}
                            <td><i class="fa fa-times fa-2x"></i></td>
                        {% endif %}
                        <td>{{ actuacion.nombre }}</td>
                        <td>{{ actuacion.estado }}</td>
                        {% for evento in actuacion.evento_set.all %}
                            <td>{{ evento.tecnico.apellidos }}, {{ evento.tecnico.nombre }}</td>
                        {% empty %}
                            <td>Sin técnico</td>
                        {% endfor %}
                        {% if actuacion.detalleactuacion.fecha %}
                            <td>{{ actuacion.detalleactuacion.fecha|date:'d/m/Y H:i' }}</td>
                        {% else %}
                            <td>Sin fecha</td>
                        {% endif %}
                        <td><a class="btn btn-sm btn-info" href="{% url 'update_actuacion' actuacion.id %}">Actualizar</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="alert alert-warning text-center">No hay actuaciones</td>
                </tr>
            {% endif %}

        </table>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-8 text-center">
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a class="btn btn-sm btn-info" href="?page={{ page_obj.previous_page_number }}">Ant</a>
                {% endif %}
                <span>
                    Página {{ page_obj.number }} de {{ paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a class="btn btn-sm btn-info" href="?page={{ page_obj.next_page_number }}">Sig</a>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-4 text-right">
            <a class="btn btn-default" href="{% url 'new_actuacion' %}">Crear actuación</a>
        </div>
    </div>

</div>
