{% include 'base.html' %}

<div class="h1">
    <h1>{{ greeting.author }}</h1>
</div>


{% if error_message %}
    <div class="alert-danger">
        <p>{{ error_message }}</p>
    </div>
{% endif %}

<form action="{% url 'vote' greeting.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ greeting.id }}">Mi comentario</label>
        <input name="content" type="text" id="{{ greeting.id }}" value="{{ greeting.content }}">
    </div>
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Actualizar</button>
        <a class="btn btn-info" href="{% url 'index' %}">Go home</a>
    </div>
</form>
